img[alt=drawing-big] { 
  width: 500px; 
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img[alt=drawing] { 
  width: 350px; 
  display: block;
  margin-left: auto;
  margin-right: auto;
}



img[alt=drawing-small] { 
  width: 175px; 
  display: block;
  margin-left: auto;
  margin-right: auto;
}


img[alt=w500] { 
  width: 500px;
}
